<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :current_password %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: :update_user %>
  <% end %>
<% end %>

<h3>Cancel my account</h3>

<%= link_to "Back", :back %>
