<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password, label: :new_password, hint: :new_password %>
    <%= f.input :password_confirmation, label: :new_password_confirmation %>
    <%= f.input :current_password, required: true %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: :update_user %>
  <% end %>
<% end %>

<%= link_to "Back", :back %>
