<h2>Sign up</h2>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, required: true %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, label: :sign_up %>
  <% end %>
<% end %>

<%= render "links" %>
