<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_products_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_product_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Products</h2>

    <%= search_form_for [:admin, @search] do |f| %>
      <%= f.label :title_cont %>
      <%= f.text_field :title_cont %>
      <%= field_set_tag "Price" do %>
        <%= f.label :price_gteq, "≥" %>
        <%= f.number_field :price_gteq, min: 0 %>
        <%= f.label :price_lteq, "≤" %>
        <%= f.number_field :price_lteq, min: 0 %>
      <% end %>
      <%= f.submit %>
    <% end %>

    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">
            <%= sort_link @search, :id, "ID" %>
          </th>
          <th>
            <%= sort_link @search, :title, t("activerecord.attributes.admin_product.title",
                                              :default => t("activerecord.labels.title", :default => "Title")) %>
          </th>
          <th>
            <%= sort_link @search, :price, t("activerecord.attributes.admin_product.price", :default => t("activerecord.labels.price", :default => "Price")) %>
          </th>
          <th><%= sort_link @search, :created_at, t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @products.each do |product| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= product.id %>
          </td>
          <td>
            <%= link_to product.title, admin_product_path(product) %>
          </td>
          <td>
            <%= number_to_currency(product.price) %>
          </td>
          <td>
            <%= product.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_product_path(product) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_product_path(product) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_product_path(product), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
      </table>
    </div>
    <%= paginate @products %>
  </div>
</div>
