<%= semantic_form_for([:admin, @user]) do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :role, include_blank: false, selected: role(@user), collection: roles_collection if can?(:set_role, User) %>
    <%= f.input :password, hint: :new_password %>
    <%= f.input :password_confirmation, required: true %>
  <% end %>

  <div class="group navform wat-cf">
    <button class="button" type="submit">
      <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
    </button>
    <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
    <%= link_to t("web-app-theme.cancel", :default => "Cancel"), admin_users_path, :class => "text_button_padding link_button" %>
  </div>

<% end %>
