<div class="show">
  <p>
    <b>Title:</b>
    <%= @product.title %>
  </p>

  <p>
    <b>Description:</b>
    <%= @product.description %>
  </p>

  <p>
    <b>Images:</b>
    <% @product.images.each do |image| %>
      <%= thumbnail(image.image, '80x96!') %>
    <% end %>
  </p>

  <p>
    <b>Price:</b>
    <%= @product.price %>
  </p>
</div>

<div id="nav_links">
  <%= button_to 'Add to Cart', line_items_path(product_id: @product), remote: true %>
  <%= link_to 'Back to shopping', store_path %>
</div>

<%= render partial: 'comments', locals: { product: @product } %>
