<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= link_to image_tag("logo.png"), store_path %>
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
    <div id="side">
      <span id="datetime"><%= date_time %></span>

      <%= render partial: 'layouts/user_bar' %>

      <ul>
        <li><%= link_to 'Store', store_path %></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <% if current_user.try(:role) == 'admin' %>
        <ul>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Users', admin_users_path %></li>
        </ul>
      <% end %>

      <% if @cart %>
        <%= hidden_div_if(current_cart.line_items.empty?, id: 'cart') do %>
          <%= render current_cart %>
        <% end %>
      <% end %>
    </div>
    <div id="main">
      <%= render partial: 'shared/show_flash' %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
